* {
    margin 0;
    padding: 0;
}

div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* 첫번째 bar 회전 */